<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/apple00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,702},{98,102}}</string>
                <key>offset</key>
                <string>{7,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,35},{98,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/apple00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,852},{98,102}}</string>
                <key>offset</key>
                <string>{7,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,36},{98,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/apple00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,278},{146,104}}</string>
                <key>offset</key>
                <string>{27,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,34},{146,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/apple00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{142,104}}</string>
                <key>offset</key>
                <string>{25,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,34},{142,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/apple00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,384},{128,106}}</string>
                <key>offset</key>
                <string>{18,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,34},{128,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/apple00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,278},{142,104}}</string>
                <key>offset</key>
                <string>{29,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,34},{142,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/apple00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,278},{142,104}}</string>
                <key>offset</key>
                <string>{29,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,34},{142,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/apple00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{126,104}}</string>
                <key>offset</key>
                <string>{19,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,34},{126,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>die/apple00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,748},{98,102}}</string>
                <key>offset</key>
                <string>{6,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,35},{98,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>die/apple00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{98,104}}</string>
                <key>offset</key>
                <string>{5,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,33},{98,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>die/apple00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,384},{100,104}}</string>
                <key>offset</key>
                <string>{4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,33},{100,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>die/apple00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,384},{100,106}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,31},{100,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>die/apple00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{198,134}}</string>
                <key>offset</key>
                <string>{19,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{198,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>die/apple00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,142},{206,134}}</string>
                <key>offset</key>
                <string>{23,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{206,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>die/apple00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{234,116}}</string>
                <key>offset</key>
                <string>{11,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{234,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>die/apple00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,72},{234,68}}</string>
                <key>offset</key>
                <string>{11,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,65},{234,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>die/apple00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{236,68}}</string>
                <key>offset</key>
                <string>{10,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,65},{236,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>die/apple00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,68}}</string>
                <key>offset</key>
                <string>{10,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,65},{236,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hit/apple00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,854},{98,102}}</string>
                <key>offset</key>
                <string>{6,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,35},{98,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hit/apple00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{94,104}}</string>
                <key>offset</key>
                <string>{4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,33},{94,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hit/apple00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{92,104}}</string>
                <key>offset</key>
                <string>{3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,33},{92,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hit/apple00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,596},{98,102}}</string>
                <key>offset</key>
                <string>{6,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,35},{98,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stand/apple00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{98,102}}</string>
                <key>offset</key>
                <string>{7,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,36},{98,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stand/apple00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,598},{98,102}}</string>
                <key>offset</key>
                <string>{7,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,35},{98,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stand/apple00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,492},{98,104}}</string>
                <key>offset</key>
                <string>{8,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,33},{98,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stand/apple00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,490},{98,104}}</string>
                <key>offset</key>
                <string>{8,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,33},{98,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stand/apple00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,596},{98,102}}</string>
                <key>offset</key>
                <string>{7,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,35},{98,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stand/apple00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,492},{98,102}}</string>
                <key>offset</key>
                <string>{7,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,35},{98,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>apple.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07a4a2a73967aded3a148cf8a3291a3c:1/1$</string>
            <key>textureFileName</key>
            <string>apple.png</string>
        </dict>
    </dict>
</plist>
