<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/hetao000001.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,356},{108,114}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,151},{108,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/hetao000002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{100,98}}</string>
                <key>offset</key>
                <string>{-5,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,153},{100,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/hetao000003.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{226,226}}</string>
                <key>offset</key>
                <string>{-1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,92},{226,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/hetao000004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,272}}</string>
                <key>offset</key>
                <string>{-1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,69},{272,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/hetao000005.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,184},{210,114}}</string>
                <key>offset</key>
                <string>{-49,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,136},{210,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/hetao000006.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{262,208}}</string>
                <key>offset</key>
                <string>{85,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,50},{262,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/hetao000007.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{224,180}}</string>
                <key>offset</key>
                <string>{100,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,78},{224,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/hetao000008.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,212},{194,142}}</string>
                <key>offset</key>
                <string>{102,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,100},{194,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/hetao000009.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,584},{106,94}}</string>
                <key>offset</key>
                <string>{74,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,134},{106,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/hetao000010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{108,114}}</string>
                <key>offset</key>
                <string>{5,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,151},{108,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/hetao000001.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,356},{108,114}}</string>
                <key>offset</key>
                <string>{2,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,151},{108,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/hetao000002.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,472},{108,112}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,153},{108,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/hetao000003.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,462},{108,112}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,153},{108,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/hetao000004.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,438},{160,162}}</string>
                <key>offset</key>
                <string>{7,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,101},{160,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/hetao000005.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,300},{170,136}}</string>
                <key>offset</key>
                <string>{4,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,139},{170,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/hetao000006.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,230},{174,78}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,202},{174,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/hetao000007.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,310},{172,80}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,202},{172,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/hetao000008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{174,80}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,202},{174,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/hetao000009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{174,80}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,202},{174,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>hit/hetao000001.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,346},{108,114}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,151},{108,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>hit/hetao000002.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,586},{104,110}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,155},{104,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>hit/hetao000003.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,438},{104,120}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,154},{104,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>hit/hetao000004.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,560},{104,110}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,155},{104,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>hit/hetao000005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{106,114}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,151},{106,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/hetao000001.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,356},{108,114}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,151},{108,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/hetao000002.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,392},{108,112}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,154},{108,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/hetao000003.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,506},{106,110}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,156},{106,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/hetao000004.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,472},{106,110}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,156},{106,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/hetao000005.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,392},{108,112}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,153},{108,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/hetao000006.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,230},{108,114}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,152},{108,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hetao.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:998c3f3fdb805151b9c046d5f138fe51:1/1$</string>
            <key>textureFileName</key>
            <string>hetao.png</string>
        </dict>
    </dict>
</plist>
